$color-4:black;

@mixin buttons {
    max-width: 100px;
    min-height: 50px;    
    background-color: $color-3;
    color: $color-1;
    font-family: $main-font;            // this is how you create a mixing.
    border-radius: 7px;                 // note: mixing are like objects of properties.
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
}
@mixin buttonsHover {
    background-color: $color-2;
    transition-duration: 1s;
    cursor: pointer;
}
